@use 'mixins';
@use 'variables';

.l-footer {
  background: #222;
  color: #fff;
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  margin: var(--spacing-large) 0 0;

  @include mixins.mq(xl) {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }
}

.l-footerInner {
  @include mixins.mq(xl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-4);
  }

  .widgettitle {
    color: #fff;
    font-size: var(--heading-6);
  }
}

.l-footerOuter {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--spacing-3) 0 0;

  @include mixins.mq(xl) {
    justify-content: space-between;
    align-items: flex-end;
    margin: var(--spacing-4) 0 0;
  }

  .widget_nav_menu {
    ul {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      @include mixins.mq(xl) {
        flex-direction: row;
      }
    }

    li {
      margin: 0 var(--spacing-2) 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.o-footerLinks {
  display: flex;
  justify-content: flex-start;

  li {
    margin: 0 var(--spacing-1) 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}