@use 'mixins';
@use 'variables';

.l-footer {
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);

  @include mixins.mq(xl) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }
}

.o-footerLinks {
  display: flex;

  li {
    margin: 0 var(--spacing-1) 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}