@use 'mixins';

.u-blogTitle {
  font-size: var(--fontSize-1l);
  font-weight: var(--fontWeight-default);
  line-height: 50px;
}

.u-title {
  font-size: var(--heading-3);
  line-height: var(--lineHeight-m);
  color: var(--text);
  margin: var(--spacing-1) 0 0;
}

.u-dateTime {
  font-size: var(--fontSize-2s);
  color: var(--subText);
}

.u-entryTitle {
  font-size: var(--heading-2);
  line-height: var(--lineHeight-m);

  @include mixins.mq(xl) {
    font-size: var(--heading-1);
  }

}

// author
.u-profileText {
  h5 {
    font-size: var(--fontSize-1s);
  }

  p {
    font-size: var(--fontSize-2s);
  }
}

// footer
.u-copyright {
  font-size: var(--fontSize-2s);
  color: #efefef;
  text-align: right;
}

//  <h4 class="u-sideTitle">Profile</h4>